* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark-green: #4a5c32;
    --color-olive-green: #6b8258;
    --color-tan: #c89f70;
    --color-dark-brown: #5d4037;
    --color-dumpling-dark: #2a2a2a;

    --text-on-dark: #f5efe6;
    --text-on-light-primary: #3e2723;
    --text-on-light-secondary: #604c42;

    --bg-main: #fbf9f6;
    --bg-alt-section: #f4f0e9;
    --bg-card: #ffffff;
    --bg-navbar: #ffffff;

    --brand-primary-accent: var(--color-olive-green);
    --brand-secondary-accent: var(--color-tan);
    --brand-headings: var(--color-dark-brown);

    --action-primary-hover: #7d9a6b;
    --action-secondary-hover: #b08a5d;

    --footer-bg: var(--color-dark-green);
    --footer-text: var(--text-on-dark);
    --footer-link: var(--color-tan);

    --error-color: #c0392b;
    --info-color-bg: var(--color-tan);
    --info-color-text: var(--text-on-light-primary);
    --success-color-bg: var(--color-olive-green);
    --success-color-text: var(--text-on-dark);

    --border-color: #eee;
    --color-light-green: #4caf50;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1.7;
    color: var(--text-on-light-primary);
    background-color: var(--bg-main);
    font-size: 16px;
    min-height: 100vh; /* Убедимся, что body занимает как минимум 100% высоты вьюпорта */
    display: flex;
    flex-direction: column; /* Чтобы футер прижимался к низу, если контента мало */
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
