/* Секции */
section {
    padding: 100px 0;
}
section:nth-child(even) {
    background-color: var(--bg-alt-section);
}

h2 {
    /* General heading style for sections */
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 60px;
    color: var(--brand-headings);
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}
h2::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: var(--brand-primary-accent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
