/* css/_components/buttons.css */

.btn {
    display: inline-block;
    padding: 10px 24px; /* Adjusted padding */
    text-decoration: none;
    border-radius: 20px; /* More rounded */
    font-weight: 600;
    transition: background-color 0.2s ease, transform 0.15s ease,
        box-shadow 0.2s ease;
    border: none;
    cursor: pointer;
    font-size: 0.9rem; /* Slightly smaller base font size */
    text-align: center;
    letter-spacing: 0.5px; /* Added letter spacing */
}

.btn-primary {
    background-color: var(--color-primary-accent);
    color: var(--color-text-light);
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}

.btn-primary:hover {
    background-color: var(--color-primary-accent-hover);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.btn-secondary {
    background-color: var(--color-secondary-accent);
    color: var(--color-text-light);
    box-shadow: 0 2px 4px rgba(108, 117, 125, 0.3);
}

.btn-secondary:hover {
    background-color: var(--color-secondary-accent-hover);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(108, 117, 125, 0.4);
}
