/* Toast Notifications */
#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.toast {
    background-color: var(--success-color-bg);
    color: var(--success-color-text);
    padding: 16px 28px;
    border-radius: 8px;
    margin-top: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateX(110%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1rem;
    display: flex;
    align-items: center;
    min-width: 280px;
}
.toast.error {
    background-color: var(--error-color);
    color: var(--text-on-dark);
}
.toast.info {
    background-color: var(--info-color-bg);
    color: var(--info-color-text);
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-icon {
    margin-right: 12px;
    font-size: 1.3rem;
    line-height: 1;
}
