/* css/_components/toasts.css */

#toast-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2000;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.toast {
    background-color: var(--color-success);
    color: var(--toast-text-light);
    padding: 15px 25px;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 0 5px 15px var(--color-shadow);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    min-width: 250px;
}
.toast.error {
    background-color: var(--color-error);
    color: var(--toast-text-light);
}
.toast.info {
    background-color: var(--color-info-bg);
    color: var(--color-info-text);
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    line-height: 1;
}
